@model List<UserModel>
<div class="container mt-5">
    <h4>User List</h4>
            @if (Model.Any())
            {

             <div class="row col col-12">   
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>

                                <td>@user.Name</td>
                                <td>@user.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
    }
            else
            {
                <p>No users found.</p>
            }
        
    
</div>
